node_modules

.cache
.env
.vercel
.output
.DS_Store
.eslintcache
*.code-workspace

/api/
/build/
/public/build
/public/browserconfig.xml
/public/manifest.json
/public/sw.js
/api/index.js
/api/index.js.map
/app/styles/**/*.css
/dist/
