---
import clsx from 'clsx';

import ExternalLink from '@/shared/icons/external-link.svelte';
import Github from '@/shared/icons/github.svelte';

interface Props {
  class?: string;
  component?: 'div' | 'footer';
  demoURL: string | null;
  repositoryURL: string | null;
  withText?: boolean;
}

interface LinkItem {
  icon: any;
  title: string;
  url: string;
}

const {
  class: className,
  component: Component = 'div',
  demoURL,
  repositoryURL,
  withText,
} = Astro.props;

const TextComponent = withText ? Fragment : 'span';

const links: LinkItem[] = [];

if (repositoryURL) {
  links.push({
    icon: Github,
    title: 'Repository',
    url: repositoryURL,
  });
}

if (demoURL) {
  links.push({
    icon: ExternalLink,
    title: 'Demo',
    url: demoURL,
  });
}
---

{
  links.length > 0 && (
    <Component class={clsx('links', className)}>
      {links.map(({ icon: Icon, title, url }) => (
        <a
          class={clsx('btn btn-solid btn-secondary shadow-md', {
            'with-text': withText,
          })}
          href={url}
          target='_blank'
          rel='noreferrer noopener'
          title={title}
        >
          <Icon />
          <TextComponent class='visually-hidden'>
            {title}
          </TextComponent>
        </a>
      ))}
    </Component>
  )
}

<style>
  .links {
    display: flex;
    gap: 8px;
  }

  .links a.btn {
    height: 32px;
  }

  .links a.btn.with-text {
    flex: 1;
    gap: 8px;
  }
</style>
