---
import clsx from 'clsx';

import ToggleColorMode from './components/toggle-color-mode.svelte';

export interface BaseHeaderProps {
  isFitHeight?: boolean;
  title?: string;
}

type Props = BaseHeaderProps;

const { isFitHeight, title = 'rofisyahrul.com' } = Astro.props;

const className = isFitHeight ? 'h-fit min-h-[3rem]' : 'h-12 md:h-16';
---

<header class={clsx('relative z-10', className)}>
  <div
    class='w-full fixed shadow-lg dark:shadow-sm dark:shadow-neutral-dim2 top-0 px-2 sm:px-3 bg-neutral-bright dark:bg-neutral-dim'
  >
    <div
      class={clsx(
        'flex justify-between items-center gap-1 w-full max-w-5xl mx-auto',
        className,
      )}
    >
      <slot />
      <h1 class='font-bold text-lg'>{title}</h1>
      <ToggleColorMode client:load />
    </div>
  </div>
</header>
