---
import clsx from 'clsx';

import Moon from '@/shared/icons/moon.svelte';
import Sun from '@/shared/icons/sun.svelte';

import ToggleColorMode from './components/toggle-color-mode.svelte';

export interface BaseHeaderProps {
  isFitHeight?: boolean;
  title?: string;
  transitionPersist?: string;
}

type Props = BaseHeaderProps;

const {
  isFitHeight,
  title = 'rofisyahrul.com',
  transitionPersist,
} = Astro.props;

const toggleColorModeTitle = 'Change color mode';
---

<header
  class={clsx({ ['fit-height']: isFitHeight })}
  transition:persist={transitionPersist}
>
  <div class='fixed-wrapper shadow-lg dark:shadow-sm'>
    <div
      class={clsx('inner-wrapper', { ['fit-height']: isFitHeight })}
    >
      <slot />
      <h1 class='text-lg'>{title}</h1>
      <ToggleColorMode title={toggleColorModeTitle} client:load>
        <Sun />
        <Moon />
        <span class='visually-hidden'>{toggleColorModeTitle}</span>
      </ToggleColorMode>
    </div>
  </div>
</header>

<style>
  header {
    position: relative;
    z-index: 10;
  }

  .fit-height {
    height: fit-content;
    min-height: 48px;
  }

  .fixed-wrapper {
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 0 8px;
    background-color: var(--color-neutral-bright);
  }

  :global(.desktop) .fixed-wrapper {
    padding: 0 16px;
  }

  :global(.dark) .fixed-wrapper {
    --tw-shadow-color: var(--color-neutral-dim2);
    --tw-shadow: var(--tw-shadow-colored);
    background-color: var(--color-neutral-dim);
  }

  .inner-wrapper {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
  }

  header:not(.fit-height),
  .inner-wrapper:not(.fit-height) {
    height: 48px;
  }

  h1 {
    font-weight: 700;
  }

  @media (min-width: 640px) {
    :global(.desktop) .fixed-wrapper {
      padding: 0 24px;
    }
  }

  @media (min-width: 768px) {
    header:not(.fit-height),
    .inner-wrapper:not(.fit-height) {
      height: 64px;
    }
  }
</style>
