---
import ChevronLeft from '@/shared/icons/chevron-left.svelte';

import type { BaseHeaderProps } from './base-header.astro';
import BaseHeader from './base-header.astro';
import BackButton from './components/back-button.svelte';

type Props = BaseHeaderProps;

const props = Astro.props;
const backLabel = 'Go Back';
---

<BaseHeader {...props}>
  <BackButton title={backLabel} client:load>
    <ChevronLeft ariaLabel={backLabel} />
    <span class='visually-hidden'>{backLabel}</span>
  </BackButton>
</BaseHeader>
