---
import Footer from '@/shared/components/footer.astro';
import NavHeader from '@/shared/components/header/nav-header.astro';

interface Props {
  title?: string;
  variant: 'notFound' | 'offline' | 'serverError';
}

interface Config {
  status?: '404' | '500';
  statusText: string;
}

const variantConfigMapping: Record<Props['variant'], Config> = {
  notFound: {
    status: '404',
    statusText: 'Not Found',
  },
  offline: {
    statusText: 'You are offline',
  },
  serverError: {
    status: '500',
    statusText: 'Internal Server Error',
  },
};

const { title, variant } = Astro.props;
const { status, statusText } = variantConfigMapping[variant];

const headerTitle = title || statusText;
const fancyStatus = status?.replaceAll(/0/g, '<span>0</span>');
---

<NavHeader title={headerTitle} />

<main>
  {fancyStatus && <div class='fancy-text' set:html={fancyStatus} />}
  <h1>{statusText}</h1>
</main>

<Footer isAbsoluteBottom />

<style>
  main {
    width: 100%;
    height: calc(100% - 3rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
  }

  .fancy-text,
  .fancy-text > :global(span) {
    font-size: 8rem;
    line-height: 1;
    font-weight: 700;
  }

  .fancy-text > :global(span) {
    background-position: bottom 2.25rem right 50%;
    background-size: 3rem;
    background-image: url(https://res.cloudinary.com/rofi/image/upload/c_fit,q_auto:good,w_80/v1640233522/samples/rho-pi.png);
    background-repeat: no-repeat;
  }

  @media (min-width: 640px) {
    .fancy-text,
    .fancy-text > :global(span) {
      font-size: 10rem;
    }

    .fancy-text > :global(span) {
      background-position: bottom 2.75rem right 50%;
    }
  }

  @media (min-width: 768px) {
    main {
      height: calc(100% - 4rem);
    }
  }
</style>
