---
import clsx from 'clsx';

interface Props {
  isAbsoluteBottom?: boolean;
  transitionPersist?: string;
}

const { isAbsoluteBottom, transitionPersist } = Astro.props;

const analyticsViewURL = import.meta.env.PUBLIC_ANALYTICS_VIEW_URL;
const repoURL = import.meta.env.PUBLIC_REPOSITORY_URL;
---

<footer
  class={clsx({ ['absolute-bottom']: isAbsoluteBottom })}
  transition:persist={transitionPersist}
>
  <nav>
    <ul class='flex gap-2'>
      {
        analyticsViewURL && (
          <li>
            <a
              href={analyticsViewURL}
              target='_blank'
              rel='noreferrer noopener'
              class='btn btn-text btn-primary'
              data-umami-event='footer'
              data-umami-event-name='see-analytics'
            >
              Analytics
            </a>
          </li>
        )
      }

      <li>
        <a
          href={repoURL}
          target='_blank'
          rel='noreferrer noopener'
          class='btn btn-text btn-primary'
          data-umami-event='footer'
          data-umami-event-name='see-repository'
        >
          GitHub
        </a>
      </li>
    </ul>
  </nav>

  <p class='text-sm'>
    {`© ${new Date().getFullYear()} Syahrul Rofi`}
  </p>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    padding: 12px;
    margin: 0 auto;
    border-top: 1px solid var(--color-neutral-bright1);
  }

  :global(.dark) footer {
    border-top-color: var(--color-neutral-dim1);
  }

  footer.absolute-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
</style>
