---
interface Props {
  section: 'main' | 'top-fold';
}

const { section } = Astro.props;

const isInMain = section === 'main';
const Component = isInMain ? 'section' : 'div';
---

<Component class='bio'>
  <h3 class='text-base'>Rofi</h3>
  <p class='bio__job-role'>Software Engineer (Web Platform)</p>
  <p>
    Hi guys! Welcome to my personal web, an instagram-like website.
    You can call me Rofi, a front-end web development enthusiast who
    always uses React.js or Svelte to build user interfaces.
    Currently, I work at a property tech company in Indonesia. You can
    reach me via my accounts above.
  </p>
</Component>

<style>
  .bio {
    width: 100%;
  }

  section.bio {
    padding: 0 12px;
  }

  div.bio {
    display: none;
  }

  .bio__job-role {
    color: var(--color-neutral-dim2);
  }

  :global(.dark) .bio__job-role {
    color: var(--color-neutral-bright2);
  }

  @media (min-width: 640px) {
    section.bio {
      display: none;
    }

    div.bio {
      display: block;
    }
  }
</style>
