.carousel {
  @apply relative w-full bg-neutral-bright dark:bg-neutral-dim;
}

.carousel__indicator-item {
  @apply flex-grow-0 flex-shrink-0 flex-basis-auto;
  @apply w-2 h-2 bg-neutral-bright2 dark:bg-neutral-dim2 rounded-full;
  @apply aria-current-step:bg-neutral-dim aria-current-step:dark:bg-neutral-bright;
}

.carousel__arrow {
  @apply absolute top-1/2 items-center justify-center w-7 h-7;
  @apply bg-neutral-bright0 text-neutral-dim;
  @apply dark:bg-neutral-dim0 dark:text-neutral-bright;
  @apply rounded-full cursor-pointer border-none outline-none;
  @apply opacity-0 transition-opacity visible;
}

.desktop .carousel__arrow {
  display: flex;
}

.mobile .carousel__arrow {
  display: none;
}

.carousel:hover > .carousel__arrow {
  @apply shadow-lg opacity-100;
}

.carousel__arrow[aria-hidden='true'] {
  visibility: hidden;
}

.carousel__arrow_next {
  right: 10px;
  transform: rotate(180deg) translate(0, 50%);
}

.carousel__arrow_prev {
  left: 10px;
  transform: translate(0, -50%);
}
