#nprogress {
  pointer-events: none;
  --nprogress-color: var(--color-primary-dim);
}

.dark #nprogress {
  --nprogress-color: var(--color-primary-bright);
}

#nprogress .bar {
  @apply fixed top-0 left-0 w-full h-0.5;
  background: var(--nprogress-color);
  z-index: 1031;
}

/* Fancy blur effect */
#nprogress .peg {
  @apply block absolute right-0 w-24 h-full opacity-100;
  box-shadow: 0 0 10px var(--nprogress-color),
    0 0 5px var(--nprogress-color);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  @apply block fixed bottom-4 left-4;
  z-index: 1031;
}

#nprogress .spinner-icon {
  @apply w-5 h-5 box-border border-2 border-solid border-transparent;
  border-top-color: var(--nprogress-color);
  border-left-color: var(--nprogress-color);
  border-radius: 50%;
  animation: nprogress-spinner 0.4s linear infinite;
}

@keyframes nprogress-spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
