@keyframes popup_fade-in {
  from {
    opacity: 0%;
  }
}

@keyframes popup_fade-out {
  to {
    opacity: 0%;
  }
}

@keyframes popup_zoom-in {
  from {
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

@keyframes popup_zoom-out {
  to {
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

.popup,
.popup__mask {
  @apply w-full h-full inset-0;
}

.popup {
  @apply fixed z-40 flex items-center justify-center;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;

  --popup-max-height: 90%;
  --popup-max-width: 95%;
}

.popup__mask {
  @apply absolute bg-neutral-dim2 opacity-90;
}

.popup[aria-hidden='true'] {
  display: none;
}

.popup_enter {
  animation-name: popup_fade-in;
}

.popup_leave {
  animation-name: popup_fade-out;
}

.popup_leave .popup__mask {
  @apply pointer-events-none;
}

.popup__close-button {
  @apply absolute top-1 right-1;
  @apply w-6 h-6 flex items-center justify-center cursor-pointer;
  @apply text-neutral-bright dark:text-neutral-dim;
  @apply bg-primary-dim dark:bg-primary-bright;
  @apply shadow-lg hover:shadow;
  border-radius: 50%;
}

.popup__dialog {
  @apply scrollbar-thin scrollbar-thumb-neutral-dim2 scrollbar-track-neutral-bright1;
  @apply dark:scrollbar-thumb-neutral-bright2 scrollbar-track-neutral-dim1;
  @apply relative flex overflow-auto border-none rounded-lg shadow-xl;
  @apply text-neutral-dim dark:text-neutral-bright;
  @apply bg-neutral-bright dark:bg-neutral-dim;
  max-height: var(--popup-max-height);
  max-width: var(--popup-max-width);
  animation-duration: inherit;
  animation-fill-mode: inherit;
}

.popup_enter .popup__dialog {
  animation-name: popup_zoom-in;
  animation-timing-function: cubic-bezier(0.4, 0, 0, 1.5);
}

.popup_leave .popup__dialog {
  animation-name: popup_zoom-out;
}
